{% extends 'base.html.twig' %}

{% block body %}
    <p>Bonjour {{ bonjour }} !</p>
    Il est est {{  heure }}
{% endblock %}

{% block title %}Première page{% endblock %}
        {% block stylesheets %}{% endblock %}

