{% extends "::base.html.twig" %}

{% block title %}AppBundle:JouerController:afficherPlateau{% endblock %}

{% block body %}
<h1>Welcome to the JouerController:afficherPlateau page</h1>
{% endblock %}
