{% extends "::base.html.twig" %}

{% block title %}AppBundle:JouerController:distribuerCartes{% endblock %}

{% block body %}
<h1>Welcome to the JouerController:distribuerCartes page</h1>
{% endblock %}
