{% extends "::base.html.twig" %}

{% block title %}AppBundle:JouerController:revendiquerBorne{% endblock %}

{% block body %}
<h1>Welcome to the JouerController:revendiquerBorne page</h1>
{% endblock %}
